<footer>
    <div class="container">
        <div class="footer">
            <div class="footer-grid" data-footer-list>
                <div class="footer-grid_item footer-grid_item-info">
                    <a href="/">
                        <img class="footer-grid_logo" src="{{ assets }}/assets/images/logo_2.webp">
                    </a>
                    <ul class="footer-grid_item-list">
                        <li class="footer-grid_item-list_item">© {{ year }} Dreams Store</li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/sitemap">Карта
                                сайта</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/privacy">Политика конфиденциальности</a>
                        </li>
                        <li class="footer-grid_item-list_item vyiatka">Разработка сайта:
                            <a class="hover-light pointer" href="https://vyatka-it.ru/">
                                <img
                                        class="img-vyiatka"
                                        src="{{ assets }}/assets/images/vyiatka_it.webp">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-grid_item" data-footer-item>
                    <h4 class="footer-grid_item-title" data-footer-title><span>Покупателям</span>
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                        </svg>
                    </h4>
                    <ul class="footer-grid_item-list">
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/buyers">Оплата и
                                доставка</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/buyers?content=guarantee">Гарантия и
                                возврат</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/buyers?content=choose">Как выбрать
                                ткань</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/faq">Частые вопросы</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/advices">Советы по уходу</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/reviews">Отзывы</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/blogs">Блог</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-grid_item" data-footer-item>
                    <h4 class="footer-grid_item-title" data-footer-title><span>Каталог</span>
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                        </svg>
                    </h4>
                    <ul class="footer-grid_item-list">
                        {% for category in categories %}
                            <li class="footer-grid_item-list_item">
                                <a class="hover-light pointer" href="{{ category.href }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="footer-grid_item" data-footer-item>
                    <h4 class="footer-grid_item-title" data-footer-title><span>Сервисы</span>
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                        </svg>
                    </h4>
                    <ul class="footer-grid_item-list">
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/atelier">Ателье</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer">Индивидуальная вышивка</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/homevisit">Выезд дизайнера на дом</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/giftcard">Подарочный сертификат</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" data-forms="freefabric">Заказать образцы ткани</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="loyalty">Программа лояльности</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-grid_item" data-footer-item>
                    <h4 class="footer-grid_item-title" data-footer-title><span>Компания</span>
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                        </svg>
                    </h4>
                    <ul class="footer-grid_item-list">
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/aboutcompany">О нас</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/vacancies">Вакансии</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="/cooperation">Сотрудничество</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer" href="tel:+79956686050">+7 995 668 60 50</a>
                        </li>
                        <li class="footer-grid_item-list_item">
                            <a class="hover-light pointer"
                               href="mailto:dreamsstore@mail.ru">dreamsstore@mail.ru</a>
                        </li>
                        <li class="footer-grid_item-list_item footer-grid_item-list_item-social">
                            <ul>
                                <li>
                                    <a class="pointer" href="">
                                        <svg class="icon-svg-footer hover-svg-light-fill"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="/sprite.svg#icon_vk"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a class="pointer" href="">
                                        <svg class="icon-svg-footer hover-svg-light-fill"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="/sprite.svg#icon_telegram"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a class="pointer" href="">
                                        <svg class="icon-svg-footer hover-svg-light-fill"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="/sprite.svg#icon_whatsapp"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a class="pointer" href="">
                                        <svg class="icon-svg-footer hover-svg-light-fill"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="/sprite.svg#icon_viber"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li>
                                    <a class="pointer" href="">
                                        <svg class="icon-svg-footer hover-svg-light-fill"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="/sprite.svg#icon_instagram"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="footer-grid_item" data-footer-item>
                    <h4 class="footer-grid_item-title" data-footer-title>Не упустите акции!</h4>
                    <form class="footer-grid_item-form" data-forms-btn data-forms-static>
                        <div class="footer-grid_item-block">
                            <div class="input-block required">
                                <input class="input-text" name="email" type="email" placeholder="Ваш E-mail" value="">
                                <label>Ваш E-mail</label>
                                <div class="error error-email text-danger">
                                </div>
                            </div>
                            <button class="btn btn-primary">Подписаться</button>
                        </div>
                        <div>
                            <label class="agree">
                                <input class="input-checkbox" name="agree" type="checkbox">
                                <span>Даю согласие на <a class="hover-dark pointer" href="/privacy">обработку<br> персональных данных</a></span>
                            </label>
                            <div class="error error-agree text-danger"></div>
                        </div>
                    </form>
                </div>
                <div class="footer-grid_item footer-grid_item-list_item-social">
                    <ul>
                        <li>
                            <a>
                                <svg class="icon-svg-footer" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_vk"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <svg class="icon-svg-footer" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/sprite.svg#icon_telegram"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="icon-svg-footer" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/sprite.svg#icon_whatsapp"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="icon-svg-footer" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/sprite.svg#icon_viber"></use>
                            </svg>
                        </li>
                        <li>
                            <svg class="icon-svg-footer" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/sprite.svg#icon_instagram"></use>
                            </svg>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-menu">
        <div class="container">
            <nav class="footer-menu__nav">
                <ul>
                    <li>
                        <a data-menu-modal-catalog-footer-btn-open>
                            <svg class="icon-footer-svg" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/sprite.svg#icon_tiles"></use>
                            </svg>
                            <span>Каталог</span>
                        </a>
                    </li>
                    <li data-search-btn>
                        <a data-search-btn>
                            <svg class="icon-footer-svg" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/sprite.svg#icon_search"></use>
                            </svg>
                            <span>Поиск</span>
                        </a>
                    </li>
                    <li>
                        <a href="/cart">
                            <div class="footer-icon__parent">
                                <svg class="icon-footer-svg" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_basket"></use>
                                </svg>
                                <span class="footer-icon__child" data-mini-cart-total>{{ total_products }}</span>
                            </div>
                            <span>Корзина</span>
                        </a>
                    </li>
                    <li>
                        <a {% if logged %}href="{{ wishlist }}"{% else %}
                        data-login-btn{% endif %}>
                            <div class="footer-icon__parent">
                                <svg class="icon-footer-svg" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_wishlist"></use>
                                </svg>
                                {% if logged %}
                                    <span class="footer-icon__child"
                                          data-wishlist-total>{{ text_wishlist }}</span>
                                {% endif %}
                            </div>
                            <span>Избранное</span>
                        </a>
                    </li>
                    <li>
                        <a {% if logged %}
                            href="/account" {% else %}data-login-btn{% endif %}>
                            <div class="footer-icon__parent">
                                <svg class="icon-footer-svg" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_login"></use>
                                </svg>
                                {% if logged %}
                                    <span class="footer-icon__child">{{ points }}</span>
                                {% endif %}
                            </div>
                            <span>Профиль</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
<div class="footer-buttons">
    <a class="scroll-to-top">
        <svg class="scroll-to-top_svg" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="/sprite.svg#icon_arrow_top"></use>
        </svg>
    </a>
    <a class="footer-buttons_message">
        <svg class="footer-buttons_message_svg" xmlns="http://www.w3.org/2000/svg">
            <use xlink:href="/sprite.svg#icon_message"></use>
        </svg>
    </a>
</div>

<div class="modals">
    <div class="modal form-modal" data-modal-type="form" hidden>
        <div class="modal__content">
            <div class="modal__box model-popup">
                <button class="modal__close modal__close--fixed"></button>
                <div class="modal-form__content">
                </div>
            </div>
        </div>
    </div>
</div>

{# <script src="/catalog/view/javascript/swiper-master/swiper-bundle.min.js" type="text/javascript"></script> #}
{# <script src="/catalog/view/javascript/script.js" type="module"></script> #}

<script src="{{ assets }}/assets/app.min.js"></script>
</div>
</body>
</html>
