{{ header }}
<div id="common-home">
    <section class="main_slider">
        {# <div class="container"> #}
        <div class="main_slider-inner slider">
            <div class="swiper">
                <div class="swiper-wrapper">
                    {% for main_banner in main_banners %}
                        {% if main_banner.link %}
                            <a href="{{ main_banner.link }}"><img src="{{ main_banner.image }}"
                                                                  alt="{{ main_banner.title }}" class="img-responsive"/></a>
                        {% else %}
                            <img src="{{ main_banner.image }}" alt="{{ main_banner.title }}" class="img-responsive"/>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="dotted colorPoint">
            </div>
        </div>
        {# </div> #}
    </section>
    <section class="advantages">
        <div class="container">
            <div class="advantages-inner">
                <div class="sliderAdvantages">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="advantages-item">
                                <img class="advantages-item_img"
                                     src="{{ assets }}/assets/images/advantages/advantages-1.webp">
                                <h3 class="advantages-item_title">Высокое качество материалов и тактильно приятные
                                    текстуры</h3>
                                <p class="advantages-item_text">Изготавливаем текстиль из премиальных тканей: тенселя,
                                    египетского и
                                    королевского хлопка. Это нежный, шелковистый материал “как в отеле”, что невозможно
                                    вылезти из
                                    кровати</p>
                            </div>
                            <div class="advantages-item">
                                <img class="advantages-item_img"
                                     src="{{ assets }}/assets/images/advantages/advantages-2.webp">
                                <h3 class="advantages-item_title">Возможность заказа индивидуального размера</h3>
                                <p class="advantages-item_text">Шьем постельное белье и домашний текстиль любого размера
                                    с
                                    необходимым вам количеством предметов под любой запрос</p>
                            </div>
                            <div class="advantages-item">
                                <img class="advantages-item_img"
                                     src="{{ assets }}/assets/images/advantages/advantages-3.webp">
                                <h3 class="advantages-item_title">Широкий выбор материалов и цветовая гамма</h3>
                                <p class="advantages-item_text">Имеем более 40 расцветок постельных тканей, большая
                                    коллекция
                                    портьерных, тюлевых и покрывальных тканей под любой интерьер</p>
                            </div>
                            <div class="advantages-item">
                                <img class="advantages-item_img"
                                     src="{{ assets }}/assets/images/advantages/advantages-4.webp">
                                <h3 class="advantages-item_title">Премиум пошив и персональная вышивка</h3>
                                <p class="advantages-item_text">Уделяем огромное внимание деталям и тщательно следим за
                                    каждым швом.
                                    Для эксклюзивного подарка делаем индивидуальную вышивку инициалов или узор любой
                                    сложности</p>
                            </div>
                        </div>
                    </div>
                    <div class="advantages-pagination"></div>
                    <div class="dotted colorPoint">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if categories %}
        <section class="catalog">
            <div class="container">
                <div class="catalog-inner">
                    <h2 class="section-title">Наш ассортимент</h2>
                    <nav>
                        <ul class="catalog-inner_grid">
                            {% for category in categories %}
                                <li class="catalog-inner_item">
                                    <a class="catalog-inner_link" href="{{ category.href }}">
                                        <picture>
                                            <source srcset="{{ category.image.webp }}">
                                            <img class="catalog-inner_link-img" src="{{ category.image.default }}"
                                                 loading="lazy">
                                        </picture>
                                        <h4 class="catalog-inner_link-title">{{ category.name }}</h4>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </nav>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="about_company">
        <div class="container">
            <div class="about_company-inner">
                <div class="about_company-inner_block">
                    <h3 class="about_company-inner_block-title">Премиальное постельное белье для вашего дома</h3>
                    <p class="about_company-inner_block-text">Dreams Store - это интернет-магазин постельного белья и
                        домашнего текстиля, который поможет вам создать уют, теплоту и необходимую атмосферу в вашем
                        доме. Мы помогаем людям сделать дом местом для отдыха, окружив себя качественным, стильным
                        текстилем и товарами для дома</p>
                    <a class="about_company-inner_block-btn btn btn-primary" href="/aboutcompany">Подробнее о
                        компании</a>
                </div>
                <div class="about_company-inner_images">
                    <div class="about_company-inner_images-one">
                        <img src="{{ assets }}/assets/images/aboutcompany/aboutcompany_1.webp">
                    </div>
                    <div class="about_company-inner_images-two">
                        <img src="{{ assets }}/assets/images/aboutcompany/aboutcompany_2.webp">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if hits or novelties or stocks %}
        <section class="bestOffers" data-tabs-parent>
            <div class="container">
                <h2 class="section-title">Лучшие предложения</h2>
                <div class="bestOffers-control">
                    <div class="bestOffers-togglers tabs__togglers">
                        {% if hits %}
                            <a class="tabs__toggler" data-tab-target="tab-1" data-view-all-href="/hits">Хиты</a>
                        {% endif %}
                        {% if novelties %}
                            <a class="tabs__toggler" data-tab-target="tab-2" data-view-all-href="/novelties">Новинки</a>
                        {% endif %}
                        {% if stocks %}
                            <a class="tabs__toggler" data-tab-target="tab-3" data-view-all-href="/stocks">Акции</a>
                        {% endif %}
                    </div>
                    <div class="bestOffers-link">
                        <a href="/hits" data-view-all-link>
                            <span>Смотреть все</span>
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="bestOffers-content tabs__content">
                    {% if hits %}
                        <div class="tabs__box" data-tab="tab-1">
                            <div class="sliderHits">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        {% for hit in hits %}
                                            <a class="products_grid-item" href="{{ hit.href }}" class="slider__item">
                                                <div class="products_grid-thumb">
                                                    <div class="products_grid-block">
                                                        <picture>
                                                            <source srcset="{{ hit.thumb.webp }}">
                                                            <img class="catalog-inner_link-img" alt="{{ hit.name }}"
                                                                 title="{{ hit.name }}"
                                                                 src="{{ hit.thumb.default }}" loading="lazy">
                                                        </picture>
                                                        <p class="products_grid-price">
                                                            {% if not hit.special %}
                                                                <span
                                                                        class="price-new">{{ hit.price }}</span>
                                                            {% else %}
                                                                <span
                                                                        class="price-new">{{ hit.special }}</span>
                                                                <span
                                                                        class="price-old">{{ hit.price }}</span>
                                                                <span class="price-percent">{{ hit.percent }}</span>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    <h4 class="products_grid-title">{{ hit.name }}</h4>
                                                    <button class="products_grid-wishlist {% if hit.in_wishlist %}inWishlist{% endif %}"
                                                            title="{{ button_wishlist }}"
                                                            data-product-wishlist="{{ hit.product_id }}">
                                                        <svg class="icon-svg-whishlist"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <use xlink:href="/sprite.svg#icon_heart"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if novelties %}
                        <div class="tabs__box" data-tab="tab-2">
                            <div class="sliderNovelties">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        {% for novelty in novelties %}
                                            <a class="products_grid-item" href="{{ novelty.href }}">
                                                <div class="products_grid-thumb">
                                                    <div class="products_grid-block">
                                                        <picture>
                                                            <source srcset="{{ novelty.thumb.webp }}">
                                                            <img class="catalog-inner_link-img" alt="{{ novelty.name }}"
                                                                 title="{{ novelty.name }}"
                                                                 src="{{ novelty.thumb.default }}" loading="lazy">
                                                        </picture>
                                                        <p class="products_grid-price">
                                                            {% if not novelty.special %}
                                                                <span
                                                                        class="price-new">{{ novelty.price }}</span>
                                                            {% else %}
                                                                <span
                                                                        class="price-new">{{ novelty.special }}</span>
                                                                <span
                                                                        class="price-old">{{ novelty.price }}</span>
                                                                <span class="price-percent">{{ novelty.percent }}</span>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    <h4 class="products_grid-title">{{ novelty.name }}</h4>
                                                    <button class="products_grid-wishlist {% if novelty.in_wishlist %}inWishlist{% endif %}"
                                                            title="{{ button_wishlist }}"
                                                            data-product-wishlist="{{ novelty.product_id }}">
                                                        <svg class="icon-svg-whishlist"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <use xlink:href="/sprite.svg#icon_heart"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if stocks %}
                        <div class="tabs__box" data-tab="tab-3">
                            <div class="sliderStocks">
                                <div class="swiper">
                                    <div class="swiper-wrapper">
                                        {% for stock in stocks %}
                                            <a class="products_grid-item" href="{{ stock.href }}">
                                                <div class="products_grid-thumb">
                                                    <div class="products_grid-block">
                                                        <picture>
                                                            <source srcset="{{ stock.thumb.webp }}">
                                                            <img class="catalog-inner_link-img"
                                                                 alt="{{ stock.name }}"
                                                                 title="{{ stock.name }}"
                                                                 src="{{ stock.thumb.default }}" loading="lazy">
                                                        </picture>
                                                        <p class="products_grid-price">
                                                            {% if not stock.special %}
                                                                <span
                                                                        class="price-new">{{ stock.price }}</span>
                                                            {% else %}
                                                                <span
                                                                        class="price-new">{{ stock.special }}</span>
                                                                <span
                                                                        class="price-old">{{ stock.price }}</span>
                                                                <span class="price-percent">{{ stock.percent }}</span>
                                                            {% endif %}
                                                        </p>
                                                    </div>
                                                    <h4 class="products_grid-title">{{ stock.name }}</h4>
                                                    <button class="products_grid-wishlist {% if stock.in_wishlist %}inWishlist{% endif %}"
                                                            title="{{ button_wishlist }}"
                                                            data-product-wishlist="{{ stock.product_id }}">
                                                        <svg class="icon-svg-whishlist"
                                                             xmlns="http://www.w3.org/2000/svg">
                                                            <use xlink:href="/sprite.svg#icon_heart"></use>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="bestOffers-control__link">
                    <a href="/hits" data-view-all-link-mobil>
                        <span>Смотреть все</span>
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="help">
        <div class="container">
            <div class="help-inner">
                <h2 class="help-inner_title">Мы помогаем людям сделать дом местом для отдыха,<br>
                    окружив себя качественным, стильным текстилем и товарами для дома</h2>
                <p class="help-inner_text">Для наших клиентов качественное постельное белье — это отголосок
                    гостеприимства и заботы дорогого отеля, неотъемлемая часть выверенного до мелочей домашнего
                    интерьера, атрибут стиля и активной жизненной позиции. </p>
            </div>
        </div>
    </section>
    <section class="gift-cards">
        <div class="container">
            <div class="gift-cards-inner">
                <div class="gift-cards-inner_block">
                    <h2 class="gift-cards-inner_block-title">Подарочные карты</h2>
                    <p class="gift-cards-inner_block-text">Если вы боитесь ошибиться при выборе подарка для родных и
                        близких, вы можете оформить подарочную карту на сумму от 5000 рублей</p>
                </div>
                <div class="gift-cards-inner_img">
                    <img src="{{ assets }}/assets/images/gift_cards-section.webp">
                </div>
                <div class="gift-cards-inner_btn">
                    <a class="btn btn-primary" href="/giftcard">Выбрать подарочную карту</a>
                </div>
            </div>
        </div>
    </section>
    {% if useful_from_blog %}
        <section class="usefulFromBlog">
            <div class="container">
                <div class="usefulFromBlog-inner">
                    <div class="usefulFromBlog-block">
                        <h2 class="section-title">Полезное из блога</h2>
                        <div class="usefulFromBlog-link">
                            <a href="/blogs">
                                <span>Смотреть все</span>
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="usefulFromBlog-blogs sliderUserfulForBlogs">
                        <div class="sliderUserfulFromBlog">
                            <div class="swiper">
                                <div class="swiper-wrapper">
                                    {% for blog in useful_from_blog %}
                                        <a class="blogs-site__item" href="{{ blog.href }}">
                                            <div class="blogs-site__image">
                                                <picture>
                                                    <source srcset="{{ blog.thumb.webp }}">
                                                    <img class="catalog-inner_link-img" alt="{{ blog.name }}"
                                                         title="{{ blog.name }}"
                                                         src="{{ blog.thumb.default }}" loading="lazy">
                                                </picture>
                                                <h3 class="blogs-site__theme">{{ blog.theme }}</h3>
                                            </div>
                                            <p class="blogs-site__date">{{ blog.date }}</p>
                                            <h4 class="blogs-site__title">{{ blog.title }}</h4>
                                            <div class="product-marks">
                                                <span class="blogs-site__category product-mark">{{ blog.category }}</span>
                                            </div>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="usefulFromBlog-link--mobil">
                        <a href="/blogs">
                            <span>Перейти в блог</span>
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="choice">
        <div class="container">
            <div class="choice-inner">
                <a class="choice-link">
                    <img class="choice-link_img" src="{{ assets }}/assets/images/choice/choice_1.webp">
                    <p class="choice-link_title">Ателье</p>
                </a>
                <a class="choice-link">
                    <img class="choice-link_img" src="{{ assets }}/assets/images/choice/choice_2.webp">
                    <p class="choice-link_title">Персональная вышивка</p>
                </a>
            </div>
        </div>
    </section>
    <section class="sectionDelivery">
        <div class="container">
            <div class="sectionDelivery-inner">
                <div class="sectionDelivery-info">
                    <h2 class="section-title sectionDelivery-info__title">Доставка</h2>
                    <p class="sectionDelivery-info__text">Доставка производится по России и миру транспортными
                        компаниями СДЭК, BoxBerry, Почта России, DHL.
                        А также, возможна доставка курьером по Москве и Московской области до дома или офиса</p>
                </div>
                <div class="sectionDelivery-btn">
                    <a class="btn btn-primary" href="/buyers">Подробнее о доставке</a>
                </div>
            </div>
        </div>
    </section>
    {% if reviews %}
        <section class="sectionReviews">
            <div class="container">
                <div class="sectionReviews-inner">
                    <div class="sectionReviews-block">
                        <h2 class="section-title">Отзывы покупателей</h2>
                        <div class="sectionReviews-block__link">
                            <a href="/reviews">
                                <span>Смотреть все</span>
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="sectionReviews-reviews sliderReviews">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {% for review in reviews %}
                                    <li class="sectionReviews-reviews__item">
                                        <div class="sectionReviews-reviews__title">
                                            <div class="sectionReviews-reviews__title--initial">{{ review.initial }}</div>
                                            <div class="sectionReviews-reviews__title--block">
                                                <h4 class="sectionReviews-reviews__title--block--name">{{ review.name }}</h4>
                                                <ul class="sectionReviews-reviews__title--block--grade">
                                                    {% for grade in review.grades %}
                                                        <li>
                                                            <svg class="icon-svg-star {{ grade }}"
                                                                 xmlns="http://www.w3.org/2000/svg">
                                                                <use xlink:href="/sprite.svg#icon_star"></use>
                                                            </svg>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <div class="sectionReviews-reviews__title--date">
                                                {{ review.date }}
                                            </div>
                                        </div>
                                        <div class="sectionReviews-reviews__item--text">{{ review.text }}</div>
                                        <div class="sectionReviews-reviews__item--images">
                                            {% for image in review.images %}
                                                <picture>
                                                    <source srcset="{{ image.webp }}">
                                                    <img class="catalog-inner_link-img"
                                                         src="{{ image.default }}" loading="lazy">
                                                </picture>
                                            {% endfor %}
                                        </div>
                                    </li>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="dotted colorPoint"></div>
                    </div>
                    <div class="sectionReviews-link">
                        <a href="/reviews">
                            <span>Смотреть все</span>
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    <section class="fabric-samples">
        <div class="container">
            <div class="fabric-samples-inner">
                <div class="fabric-samples-inner_block">
                    <h2 class="fabric-samples-inner_block-title">Образцы ткани бесплатно</h2>
                    <p class="fabric-samples-inner_block-text">Чтобы быть уверенным в том, что цветовая гамма
                        постельного белья будет идеально подходить под ваш интерьер, мы рады предложить вам оформить
                        заказ на образцы используемых тканей со всей выборкой расцветок бесплатно в любую точку
                        России</p>
                </div>
                <div class="fabric-samples-inner_btn">
                    <a class="btn btn-primary" data-forms="freefabric">Оставить заявку</a>
                </div>
            </div>
        </div>
    </section>
    <section class="seo">
        <div class="container">
            <div class="seo-inner">
                <div class="seo-inner__block">
                    <div class="seo-inner__about" data-show-more="512">
                        <h2 class="seo-inner__title section-title">{{ seo_title }}</h2>
                        <div class="seo-inner__text" data-show-more-content>{{ seo_description }}</div>
                        <a class="seo-inner__more" data-show-more-link>Показать полностью</a>
                    </div>
                    <div class="seo-inner__image">
                        <img src="{{ assets }}/assets/images/seo_section.webp">
                    </div>
                </div>
                {% if tags %}
                    <div class="seo-inner__tags sliderTags">
                        <div class="swiper">
                            <div class="swiper-wrapper">
                                {% for tag in tags %}
                                    <a class="btn btn-second seo-inner__tag" href="{{ tag.link }}">#{{ tag.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="first-know">
        <div class="container">
            <div class="first-know-inner">
                <div class="first-know-inner_block">
                    <h2 class="first-know-inner_block-title">Узнавайте первыми о скидках!</h2>
                </div>
                <form class="first-know-inner_form">
                    <div class="input-block required">
                        <input class="input-text" name="email" type="email" placeholder="Ваш E-mail" value="">
                        <label>Ваш E-mail</label>
                    </div>
                    <div class="first-know-inner_btn">
                        <button class="btn btn-primary">Подписаться</button>
                    </div>
                    <label class="agree">
                        <input class="input-checkbox" name="agree" type="checkbox">
                        <span>Даю согласие на <a>обработку<br> персональных данных</a></span>
                    </label>
                </form>
            </div>
        </div>
    </section>
</div>
{{ footer }}
