{{ header }}
<div id="account-account">
    <div class="container">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% if success %}
        <div class="container">
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
        </div>
    {% endif %}
    <div class="container">
        <div id="content" class="account">
            <h1 class="page-title">{{ text_account }}</h1>
            <div class="account-block">
                <div class="account-info">
                    <h2 class="account-info__title section-title">Контактные данные</h2>
                    <div class="account-inputs">
                        <form data-account-form>
                            <div class="account-input input-block">
                                <input class="input-text" name="name" type="text" placeholder="Имя">
                                <label>Имя</label>
                                <div class="account-input__error"></div>
                            </div>
                            <div class="account-input  input-block">
                                <input class="input-text" name="birthday" type="text" placeholder="День рождения">
                                <label>День рождения</label>
                                <div class="account-input__error"></div>
                            </div>
                            <div class="account-input  input-block">
                                <input class="input-text" name="email" type="email" placeholder="E-mail">
                                <label>E-mail</label>
                                <div class="account-input__error"></div>
                            </div>
                            <div class="account-input input-password input-block" data-input-password>
                                <input class="input-text" name="password" type="password" placeholder="Пароль"
                                       data-input-password-input>
                                <label>Пароль</label>
                                <div class="account-input__error"></div>
                                <svg xmlns="http://www.w3.org/2000/svg" data-input-password-svg="">
                                    <use xlink:href="/sprite.svg#icon_eye"></use>
                                </svg>
                            </div>
                            <a class="account-link">Установить новый пароль</a>
                        </form>
                    </div>
                    <div class="account-bonuses">
                        <span class="account-bonuses__title">Ваши бонусы:</span>
                        <span class="account-bonuses__num">{{ rewards }}</span>
                        <p class="account-bonuses__text">Получайте бонусы с каждого заказа и используйте их при
                            оплате</p>
                        <a class="account-bonuses__link">Подробнее</a>
                    </div>
                    <button class="btn btn-second account-btn">Выйти из профиля</button>
                </div>
                <div class="account-orders">
                    <h2 class="account-orders__title section-title">История заказов</h2>
                    {% if orders %}
                        <ul class="account-orders__list">
                            {% for order in orders %}
                                <li class="account-orders__item">
                                    <div class="account-orders__block">
                                        <div class="account-orders__info">
                                            <h4 class="account-orders__info">Заказ № {{ order.order_id }} от
                                                {{ order.date_added }}</h4>
                                            <p>• {{ order.status }}</p>
                                        </div>
                                    </div>
                                    <div class="account-orders__content">
                                        <div class="account-orders__products">
                                            {% for product in order.products %}
                                            <div class="account-orders__product">
                                                <div class="account-orders__product--image">
                                                    <img src="">
                                                </div>
                                                <div class="account-orders__product--block">
                                                    <div class="account-orders__product--title">
                                                        {{ product.name }}
                                                    </div>
                                                    {% if product.options %}
                                                        <div class="account-orders__product--options">
                                                            <ul>
                                                                {% for option in product.options %}
                                                                    <li>{{ option.name }}</li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                    <div class="account-orders__product--total">
                                                        <div class="account-orders__product--quantity">
                                                            {{ product.quantity }}
                                                        </div>
                                                        <div class="account-orders__product--quantity">
                                                            {{ product.total }}
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p class="account-orders__empty">У вас ещё нет заказов.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {#    {{ column_left }} #}
        {#    {{ column_right }} #}
        {#    {{ content_bottom }} #}
        {#  {{ content_top }} #}
    </div>
{{ footer }}