<div class="filter" data-filter>
    <div class="filter-inner" data-filter data-filter-is-inner="true">
        <div class="filter-inner__content">
            <div class="filter-inner__box">
                {# <div class="filter-inner__header"> #}
                {#    <button class="filter-inner__close filter-inner__close--static filter__close" #}
                {#            data-filter-close></button> #}
                {# </div> #}
                <div class="filter-inner__blocks">
                    <div class="filter-inner__mobile">
                        <h4 class="filter-inner__mobile--title">Фильтры</h4>
                        <svg class="filter-inner__mobile--close" data-filter-modal-close
                             xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="/sprite.svg#icon_cross"></use>
                        </svg>
                    </div>
                    <div class="filter-inner__block" data-filter-range data-toggler-parent>
                        <button class="filter-inner__toggler" data-toggler="">
                            <span>Стоимость</span>
                            <svg class="hover-svg-light-stroke" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                            </svg>
                        </button>
                        <div class="filter-inner__body">
                            <div class="filter-inner__range" data-range data-min="{{ price.min.limit }}"
                                 data-start="{{ price.min.target }}" data-max="{{ price.max.limit }}"
                                 data-end="{{ price.max.target }}">
                                <div class="filter-inner__range-slider">
                                    <div class="noui-slider"></div>
                                </div>
                                <div class="filter-inner__range-inputs">
                                    <div class="filter-inner__range-input">
                                        <div class="input input-text-price  input-with-fix-label">
                                            <input class="input-text" type="text" name="filter[price][from]" data-from
                                                   data-filter-min
                                                   placeholder=" ">
                                            <label class="input-text-price__currency">руб.</label>
                                        </div>
                                    </div>
                                    <div class="filter-inner__range-delimiter">—</div>
                                    <div class="filter-inner__range-input">
                                        <div class="input input-text-price  input-with-fix-label">
                                            <input class="input-text" type="text" name="filter[price][to]" data-to
                                                   data-filter-max
                                                   placeholder=" ">
                                            <label class="input-text-price__currency">руб.</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# опция размер #}
                    {% if filter_options.size %}
                        <div class="filter-inner__block" data-filter-checkbox data-toggler-parent>
                            <button class="filter-inner__toggler"
                                    data-toggler>
                                <span>{{ filter_options.size.name }}</span>
                                <svg class="hover-svg-light-stroke" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                </svg>
                            </button>
                            <div class="filter-inner__body">
                                <div class="filter-inner__checkboxes">
                                    {% for key, value in filter_options.size.values %}
                                        <div class="filter-inner__checkbox">
                                            <div class="checkbox">
                                                <input class="input-checkbox" type="checkbox"
                                                       name="filter_option[{{ filter_options.size.option_id }}]"
                                                       value="{{ value.option_value_id }}"
                                                       id="inner_{{ filter_options.size.option_id }}_{{ key }}" {{ value.active ? 'checked' : "" }}>
                                                <label for="inner_{{ filter_options.size.option_id }}_{{ key }}">{{ value.name }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {# опция натяжная простыня #}
                    {% if filter_options.bedsheet %}
                        <div class="filter-inner__block" data-filter-checkbox data-toggler-parent>
                            <button class="filter-inner__toggler"
                                    data-toggler>
                                <span>{{ filter_options.bedsheet.name }}</span>
                                <svg class="hover-svg-light-stroke" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                </svg>
                            </button>
                            <div class="filter-inner__body">
                                <div class="filter-inner__checkboxes">
                                    {% for key, value in filter_options.bedsheet.values %}
                                        <div class="filter-inner__checkbox">
                                            <div class="checkbox">
                                                <input class="input-checkbox" type="checkbox"
                                                       name="filter_option[{{ filter_options.bedsheet.option_id }}]"
                                                       value="{{ value.option_value_id }}"
                                                       id="inner_{{ filter_options.bedsheet.option_id }}_{{ key }}" {{ value.active ? 'checked' : "" }}>
                                                <label for="inner_{{ filter_options.bedsheet.option_id }}_{{ key }}">{{ value.name }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {# опция наволочки #}
                    {% if filter_options.pillowcase %}
                        <div class="filter-inner__block" data-filter-checkbox data-toggler-parent>
                            <button class="filter-inner__toggler"
                                    data-toggler>
                                <span>{{ filter_options.pillowcase.name }}</span>
                                <svg class="hover-svg-light-stroke" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                </svg>
                            </button>
                            <div class="filter-inner__body">
                                <div class="filter-inner__checkboxes">
                                    {% for key, value in filter_options.pillowcase.values %}
                                        <div class="filter-inner__checkbox">
                                            <div class="checkbox">
                                                <input class="input-checkbox" type="checkbox"
                                                       name="filter_option[{{ filter_options.pillowcase.option_id }}]"
                                                       value="{{ value.option_value_id }}"
                                                       id="inner_{{ filter_options.pillowcase.option_id }}_{{ key }}" {{ value.active ? 'checked' : "" }}>
                                                <label for="inner_{{ filter_options.pillowcase.option_id }}_{{ key }}">{{ value.name }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {# опция вышивка #}
                    {% if filter_options.embroidery %}
                        <div class="filter-inner__block" data-filter-checkbox data-toggler-parent>
                            <button class="filter-inner__toggler"
                                    data-toggler>
                                <span>{{ filter_options.embroidery.name }}</span>
                                <svg class="hover-svg-light-stroke" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                </svg>
                            </button>
                            <div class="filter-inner__body">
                                <div class="filter-inner__checkboxes">
                                    {% for key, value in filter_options.embroidery.values %}
                                        <div class="filter-inner__checkbox">
                                            <div class="checkbox">
                                                <input class="input-checkbox" type="checkbox"
                                                       name="filter_option[{{ filter_options.embroidery.option_id }}]"
                                                       value="{{ value.option_value_id }}"
                                                       id="inner_{{ filter_options.embroidery.option_id }}_{{ key }}" {{ value.active ? 'checked' : "" }}>
                                                <label for="inner_{{ filter_options.embroidery.option_id }}_{{ key }}">{{ value.name }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {# опция наволочки #}
                    {% if filter_options.blanket %}
                        <div class="filter-inner__block" data-filter-checkbox data-toggler-parent>
                            <button class="filter-inner__toggler"
                                    data-toggler>
                                <span>{{ filter_options.blanket.name }}</span>
                                <svg class="hover-svg-light-stroke" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                </svg>
                            </button>
                            <div class="filter-inner__body">
                                <div class="filter-inner__checkboxes">
                                    {% for key, value in filter_options.blanket.values %}
                                        <div class="filter-inner__checkbox">
                                            <div class="checkbox">
                                                <input class="input-checkbox" type="checkbox"
                                                       name="filter_option[{{ filter_options.blanket.option_id }}]"
                                                       value="{{ value.option_value_id }}"
                                                       id="inner_{{ filter_options.blanket.option_id }}_{{ key }}" {{ value.active ? 'checked' : "" }}>
                                                <label for="inner_{{ filter_options.blanket.option_id }}_{{ key }}">{{ value.name }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {# аттрибут материал #}
                    {% if filter_attributes.material %}
                        <div class="filter-inner__block" data-filter-checkbox data-toggler-parent>
                            <button class="filter-inner__toggler"
                                    data-toggler>
                                <span>{{ filter_attributes.material.name }}</span>
                                <svg class="hover-svg-light-stroke" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                </svg>
                            </button>
                            <div class="filter-inner__body">
                                <div class="filter-inner__checkboxes">
                                    {% for key, value in filter_attributes.material.values %}
                                        <div class="filter-inner__checkbox">
                                            <div class="checkbox">
                                                <input class="input-checkbox" type="checkbox"
                                                       name="filter_attribute[{{ filter_attributes.material.attribute_id }}]"
                                                       value="{{ value.value ? value.value : value.name }}"
                                                       id="inner_{{ filter_attributes.material.attribute_id }}_{{ key }}" {{ value.active ? 'checked' : "" }}>
                                                <label for="inner_{{ filter_attributes.material.attribute_id }}_{{ key }}">{{ value.name }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {# аттрибут плотность ткани #}
                    {% if filter_attributes.density %}
                        <div class="filter-inner__block" data-filter-checkbox data-toggler-parent>
                            <button class="filter-inner__toggler"
                                    data-toggler>
                                <span>{{ filter_attributes.density.name }}</span>
                                <svg class="hover-svg-light-stroke" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                </svg>
                            </button>
                            <div class="filter-inner__body">
                                <div class="filter-inner__checkboxes">
                                    {% for key, value in filter_attributes.density.values %}
                                        <div class="filter-inner__checkbox">
                                            <div class="checkbox">
                                                <input class="input-checkbox" type="checkbox"
                                                       name="filter_attribute[{{ filter_attributes.density.attribute_id }}]"
                                                       value="{{ value.value ? value.value : value.name }}"
                                                       id="inner_{{ filter_attributes.density.attribute_id }}_{{ key }}" {{ value.active ? 'checked' : "" }}>
                                                <label for="inner_{{ filter_attributes.density.attribute_id }}_{{ key }}">{{ value.name }}</label>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="filter-inner__controls">
                    <button class="btn btn-primary filter__apply filter-inner__apply" data-filter-apply>Применить
                    </button>
                    <button class="btn btn-second filter__reset filter-inner__reset" data-filter-reset>
                        Сбросить все
                        {# <span class="btn-icon" style="--url: url(./images/icons/close.svg)"></span> #}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
