{{ header }}
<div id="product-product">
    <div class="container">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        <div id="content" class="product">
            <div class="product-left">
                <div class="sliderProductMain">
                    <div class="product-images swiper">
                        {% if thumb or images %}
                            {# <div class="product-images__big"> #}
                            {#    <a class="product-images__link" href="{{ popup }}" title="{{ heading_title }}"> #}
                            {#        <picture> #}
                            {#            <source srcset="{{ thumb.webp }}"> #}
                            {#            <img class="product-images__image" #}
                            {#                 src="{{ thumb.default }}" alt="{{ heading_title }}" #}
                            {#                 title="{{ heading_title }}" #}
                            {#                 loading="lazy"/> #}
                            {#        </picture> #}
                            {#    </a> #}
                            {# </div> #}
                            <ul class="product-images__list swiper-wrapper" data-lightbox-parent>
                                {#                            {% if thumb %} #}
                                {#                                <li class="product-images__item"> #}
                                {#                                    <a class="product-images__link" href="{{ popup }}" title="{{ heading_title }}"> #}
                                {#                                        <img #}
                                {#                                                src="{{ thumb }}" title="{{ heading_title }}" #}
                                {#                                                alt="{{ heading_title }}"/> #}
                                {#                                        <picture> #}
                                {#                                            <source srcset="{{ thumb.webp }}"> #}
                                {#                                            <img class="product-images__image" #}
                                {#                                                 src="{{ thumb.default }}" alt="{{ heading_title }}" #}
                                {#                                                 title="{{ heading_title }}" #}
                                {#                                                 loading="lazy"/> #}
                                {#                                        </picture> #}
                                {#                                    </a> #}
                                {#                                </li> #}
                                {#                            {% endif %} #}
                                {% if thumb %}
                                    <li class="product-images__item">
                                        <a class="product-images__link" href="{{ thumb.popup }}"
                                           title="{{ heading_title }}">
                                            <picture>
                                                <source srcset="{{ thumb.webp }}">
                                                <img class="product-images__image"
                                                     src="{{ thumb.default }}" alt="{{ heading_title }}"
                                                     title="{{ heading_title }}"
                                                     loading="lazy"/>
                                            </picture>
                                        </a>
                                    </li>
                                {% endif %}
                                {% if images %}
                                    {% for image in images %}
                                        <li class="product-images__item">
                                            <a class="product-images__link" href="{{ image.popup }}"
                                               title="{{ heading_title }}">
                                                <picture>
                                                    <source srcset="{{ image.webp }}">
                                                    <img class="product-images__image"
                                                         src="{{ image.default }}" alt="{{ heading_title }}"
                                                         title="{{ heading_title }}"
                                                         loading="lazy"/>
                                                </picture>
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        {% endif %}
                        <nav class="sliderProductMain-arrows">
                            <ul class="sliderProductMain-list">
                                <div>
                                    <li class="slider__arrow--prev">
                                        <svg xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                        </svg>
                                    </li>
                                </div>
                                <div>
                                    <li class="slider__arrow--next">
                                        <svg xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                        </svg>
                                    </li>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="sliderProductThumbs">
                    <div class="product-images swiper">
                        {% if thumb or images %}
                            <ul class="product-images__list swiper-wrapper" data-lightbox-parent>
                                {% if thumb %}
                                    <li class="product-images__item">
                                        <picture>
                                            <source srcset="{{ thumb.webp }}">
                                            <img class="product-images__image"
                                                 src="{{ thumb.default }}" alt="{{ heading_title }}"
                                                 title="{{ heading_title }}"
                                                 loading="lazy"/>
                                        </picture>
                                    </li>
                                {% endif %}
                                {% if images %}
                                    {% for image in images %}
                                        <li class="product-images__item">
                                            <picture>
                                                <source srcset="{{ image.webp }}">
                                                <img class="product-images__image"
                                                     src="{{ image.default }}" alt="{{ heading_title }}"
                                                     title="{{ heading_title }}"
                                                     loading="lazy"/>
                                            </picture>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="product-tabs" data-tabs-parent>
                    <div class="product-tabs__togglers">
                        <button class="product-tabs__toggler" data-tab-target="tab-1">Описание</button>
                        <button class="product-tabs__toggler" data-tab-target="tab-2">Уход</button>
                        <button class="product-tabs__toggler" data-tab-target="tab-3">Частые вопросы</button>
                    </div>
                    <div class="product-tabs__content">
                        <div class="product-tabs__box" data-tab="tab-1">
                            {{ description }}
                        </div>
                        <div class="product-tabs__box" data-tab="tab-2">
                            {{ care }}
                        </div>
                        <div class="product-tabs__box" data-tab="tab-3">
                            {{ questions }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-right" data-products-to-cart data-product-id-global="{{ product_id }}">
                <div class="product-right__info">
                    <p>Артикул: {{ sku }}</p>
                    <a data-modal="share">Поделиться</a>
                </div>
                <h1 class="section-title">{{ heading_title }}</h1>
                {% if related_products %}
                    <div class="product-right__color productColors">
                        <p class="productColors-active">
                            <span class=" productColors-span" style="background-color: {{ hex }}"></span>
                        </p>
                        {% for related_product in related_products %}
                            <a href="{{ related_product.href }}" class="product-right__color--link
                            productColors-link"
                               value="{{ related_product.product_id }}">
                            <span class=" productColors-span"
                                  style="background-color: {{ related_product.hex }}"></span>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class=" product-right__options">
                    {% if options %}
                        {% for option in options %}
                            {% if option.type == 'select' %}
                                <div class="product-right__options-item" data-option-product-id="{{ product_id }}"
                                     data-option="select">
                                    <span class="product-right__options-title">{{ option.name }}
                                        {% if option.option_id == '15' %}
                                            <span class="product-right__sizeTable"
                                                  data-modal="size_table">Таблица размеров</span>
                                        {% endif %}
                                    </span>
                                    <div class="select select-product product-right__options-block">
                                        <input type="hidden" name="option[{{ option.product_option_id }}]"
                                               value="{{ option.product_option_value.0.product_option_value_id }}">
                                        <div class="select__box-btn">
                                            <button class="select__button" type="button">По умолчанию<br></button>
                                            <svg xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                            </svg>
                                        </div>
                                        <ul class="select__list">
                                            {% for option_value in option.product_option_value %}
                                                <li data-value="{{ option_value.product_option_value_id }}"
                                                    selected="selected">{{ option_value.name }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="product-right__options-checkbox">
                            {% for option in options %}
                                {% if option.type == 'checkbox' %}
                                    <div class="product-right__options-checkbox_item {% if option.required %} required {% endif %}">
                                        <span class="product-right__options-title">{{ option.name }}</span>
                                        <div id="input-option{{ option.product_option_id }}"
                                             data-option-product-id="{{ product_id }}" data-option="checkbox">
                                            {% for option_value in option.product_option_value %}
                                                <div class="checkbox">
                                                    <label>
                                                        <input class="input-checkbox product-right__options-check"
                                                               type="checkbox"
                                                                {# name="option[{{ option.product_option_id }}][]" #}
                                                               name="option[{{ option.product_option_id }}]"
                                                               value="{{ option_value.product_option_value_id }}"
                                                               data-option-input-product-id="{{ product_id }}"/>
                                                        <span class="product-right__options-text">{{ option_value.name }}</span>
                                                    </label>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                                {% if option.type == 'radio' %}
                                    <div class="form-group{% if option.required %} required {% endif %}">
                                        <label class="control-label">{{ option.name }}</label>
                                        <div id="input-option{{ option.product_option_id }}"> {% for option_value in option.product_option_value %}
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio"
                                                               name="option[{{ option.product_option_id }}]"
                                                               value="{{ option_value.product_option_value_id }}"/>
                                                        {% if option_value.image %} <img
                                                                src="{{ option_value.image }}"
                                                                alt="{{ option_value.name }} {% if option_value.price %} {{ option_value.price_prefix }} {{ option_value.price }} {% endif %}"
                                                                class="img-thumbnail"/> {% endif %}
                                                        {{ option_value.name }}
                                                        {% if option_value.price %}
                                                            ({{ option_value.price_prefix }}{{ option_value.price }})
                                                        {% endif %} </label>
                                                </div>
                                            {% endfor %} </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="product-right__price">
                    {% if price %}
                        {% if not special %}
                            <h2 class="product-right__newPrice">{{ price }}</h2>
                        {% else %}
                            <h2 class="product-right__newPrice">{{ special }}</h2>
                            <span class="product-right__oldPrice">{{ price }}</span>
                            <span class="product-right__percent">{{ percent }}</span>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="product-right__buttons" id="product">
                    <div class="product-right__add">
                        {# <label class="control-label" for="input-quantity">{{ entry_qty }}</label> #}
                        {# <input type="hidden" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" #}
                        {#       class="form-control"/> #}
                        <div class="product-right__add--block">
                            {% if in_cart %}
                                <a class="product-right__add--toCart" href="/cart">
                                    <h5>В корзине: {{ in_cart }}</h5>
                                    <span>Перейти в корзину</span>
                                </a>
                            {% endif %}
                            <button type="button" id="button-cart" data-add-to-cart="true"
                                    data-product-id="{{ product_id }}"
                                    data-loading-text="{{ text_loading }}"
                                    class="btn btn-primary {% if in_cart %}inCart{% endif %}">
                                {% if in_cart %}+1{% else %}{{ button_cart }}{% endif %}
                            </button>
                        </div>
                        {% if minimum > 1 %}
                            <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                        {% endif %}
                    </div>
                    <div class="product-right__click">
                        <button class="btn btn-second">Заказать в 1 клик</button>
                    </div>
                </div>
                {% if set_products %}
                    <div class="product-right__complect">
                        <div class="product-right__complect--inner">
                            <h4 class="product-right__complect--title">Добавить в комплект</h4>
                            {% for set_product in set_products %}
                                <div class="product-right__complect--item">
                                    <div class="product-right__complect--block"
                                         data-product-set-products="{{ set_product.ids }}"
                                         data-product-set-category="{{ set_product.category.name }}">
                                        <span class="product-right__complect--span">
                                            <svg class="icon-svg-stroke" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="/sprite.svg#icon_plus"></use>
                                            </svg>
                                        </span>
                                        <h5 class="product-right__complect--name">{{ set_product.category.name }}</h5>
                                        {% if set_product.category_total_products %}
                                            <div class="product-right__complect--number">
                                                {{ set_product.category_total_products }}
                                            </div>
                                        {% endif %}
                                    </div>
                                    {% if set_product.products %}
                                        <div class="product-set">
                                            {% for set_prod in set_product.products %}
                                                {% if set_prod.is_show %}
                                                    <div class="product-set__item">
                                                        <div class="product-set__image">
                                                            <picture>
                                                                <source srcset="{{ set_prod.thumb.webp }}">
                                                                <img class="product-images__image"
                                                                     src="{{ set_prod.thumb.default }}"
                                                                     alt="{{ set_prod.heading_title }}"
                                                                     title="{{ set_prod.heading_title }}"
                                                                     loading="lazy"/>
                                                            </picture>
                                                        </div>
                                                        <div class="product-set__block">
                                                            <h5 class="product-set__name">{{ set_prod.name }}</h5>
                                                            <div class="product-set__price">
                                                                {% if not set_prod.special %}
                                                                    <span class="price-new">
                                                                        {{ set_prod.price }}
                                                                    </span>
                                                                {% else %}
                                                                    <span class="price-new">
                                                                        {{ set_prod.special }}
                                                                    </span>
                                                                    <span class="price-old">
                                                                        {{ set_prod.price }}
                                                                    </span>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="product-set__remove">
                                                            <svg class="" xmlns="http://www.w3.org/2000/svg">
                                                                <use xlink:href="/sprite.svg#icon_cross"></use>
                                                            </svg>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <div class="product-right__delivery">

                </div>
                <div class="modal set-modal" data-modal-type="set" hidden>
                    <div class="modal__content">
                        <div class="modal__box model-popup">
                            <button class="modal__close modal__close--fixed"></button>
                            <div class="model-popup__content" data-set-content>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal product-size-table-modal" data-modal-type="size_table" hidden>
                    <div class="modal__content">
                        <div class="modal__box model-popup">
                            <button class="modal__close modal__close--fixed"></button>
                            <div class="model-popup__content">
                                <h2 class="section-title">Таблица размеров</h2>
                                <div class="productSizeTable">
                                    <div class="productSizeTable_table">
                                        <div class="productSizeTable-item left"></div>
                                        <div class="productSizeTable-item">Пододеяльник</div>
                                        <div class="productSizeTable-item">Простыня</div>
                                        <div class="productSizeTable-item left">Полутороспальный</div>
                                        <div class="productSizeTable-item">155х205</div>
                                        <div class="productSizeTable-item">180х230</div>
                                        <div class="productSizeTable-item left">Двуспальный</div>
                                        <div class="productSizeTable-item">180х210</div>
                                        <div class="productSizeTable-item">240х260</div>
                                        <div class="productSizeTable-item left">Двуспальный плюс</div>
                                        <div class="productSizeTable-item">200х200</div>
                                        <div class="productSizeTable-item">240х260</div>
                                        <div class="productSizeTable-item left">Евро</div>
                                        <div class="productSizeTable-item">200х220</div>
                                        <div class="productSizeTable-item">245х260</div>
                                        <div class="productSizeTable-item left">Евро макси</div>
                                        <div class="productSizeTable-item">220х240</div>
                                        <div class="productSizeTable-item">245х270</div>
                                        <div class="productSizeTable-item left">Дуэт</div>
                                        <div class="productSizeTable-item">155х205 (2шт)</div>
                                        <div class="productSizeTable-item">245х270</div>
                                    </div>
                                    <a class="productSizeTable_link" data-modal="dont_find">Нет нужного размера?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="fabric-samples">
        <div class="container">
            <div class="fabric-samples-inner">
                <div class="fabric-samples-inner_block">
                    <h2 class="fabric-samples-inner_block-title">Не нашли подходящий размер или дизайн?</h2>
                    <p class="fabric-samples-inner_block-text">Предлагаем индивидуальный пошив по любым размерам, а
                        также персональный подбор ткани и цвета</p>
                </div>
                <div class="fabric-samples-inner_btn">
                    <a class="btn btn-primary">Связаться с нами</a>
                </div>
            </div>
        </div>
    </section>
    {% if products %}
        <section class="product-similar">
            <div class="container">
                <div class="slider">
                    <h2 class="section-title">Похожие товары</h2>
                    <div class="swiper">
                        <div class="swiper-wrapper" data-lightbox-parent>
                            {% for product in products %}
                                <a class="products_grid-item product-similar__item" href="{{ product.href }}"
                                   data-fancybox="slider">
                                    <div class="products_grid-thumb">
                                        <div class="products_grid-block">
                                            <picture>
                                                <source srcset="{{ product.thumb.webp }}">
                                                <img class="catalog-inner_link-img" alt="{{ product.name }}"
                                                     title="{{ product.name }}"
                                                     src="{{ product.thumb.default }}" loading="lazy">
                                            </picture>
                                            <p class="products_grid-price">
                                                {% if not product.special %}
                                                    <span
                                                            class="price-new">{{ product.price }}</span>
                                                {% else %}
                                                    <span
                                                            class="price-new">{{ product.special }}</span>
                                                    <span
                                                            class="price-old">{{ product.price }}</span>
                                                    <span class="price-percent">{{ product.percent }}</span>
                                                {% endif %}
                                            </p>
                                        </div>
                                        <h4 class="products_grid-title">{{ product.name }}</h4>
                                        <button class="products_grid-wishlist" type="button" data-toggle="tooltip"
                                                title="{{ button_wishlist }}"
                                                onclick="wishlist.add('{{ product.product_id }}');">
                                            <svg class="icon-svg-whishlist" xmlns="http://www.w3.org/2000/svg">
                                                <use xlink:href="/sprite.svg#icon_heart"></use>
                                            </svg>
                                        </button>
                                        {# <div class=""> #}
                                        {#    <div class="caption"> #}

                                        {#        <p>{{ product.description }}</p> #}
                                        {#        {% if product.price %} #}
                                        {#            <p class="price"> {% if not product.special %} #}
                                        {#                    {{ product.price }} #}
                                        {#                {% else %} <span #}
                                        {#                        class="price-new">{{ product.special }}</span> #}
                                        {#                    <span #}
                                        {#                            class="price-old">{{ product.price }}</span> {% endif %} #}
                                        {#                {% if product.tax %} <span #}
                                        {#                        class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} #}
                                        {#            </p> #}
                                        {#        {% endif %} #}
                                        {#    </div> #}
                                        {#    <div class="button-group"> #}
                                        {#        <button type="button" #}
                                        {#                onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"> #}
                                        {#            <i class="fa fa-shopping-cart"></i> <span #}
                                        {#                    class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span> #}
                                        {#        </button> #}
                                        {#        <button type="button" data-toggle="tooltip" #}
                                        {#                title="{{ button_wishlist }}" #}
                                        {#                onclick="wishlist.add('{{ product.product_id }}');"><i #}
                                        {#                    class="fa fa-heart"></i></button> #}
                                        {#        <button type="button" data-toggle="tooltip" #}
                                        {#                title="{{ button_compare }}" #}
                                        {#                onclick="compare.add('{{ product.product_id }}');"><i #}
                                        {#                    class="fa fa-exchange"></i></button> #}
                                        {#    </div> #}
                                        {# </div> #}
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
    {% if reviews_to_shop %}
        <section class="product-reviews sliderProductReviews">
            <div class="container">
                <div class="product-reviews__block">
                    <h2 class="section-title">Отзывы покупателей</h2>
                    <a href="/reviews" class="product-reviews__watchAll">
                        <span>Смотреть все</span>
                        <svg xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                        </svg>
                    </a>
                </div>
                <div class="reviews_site swiper">
                    <ul class="reviews_site-list swiper-wrapper" data-lightbox-parent>
                        {% for review in reviews_to_shop %}
                            <li class="reviews_site-list_item" data-fancybox="slider">
                                <div class="reviews_site-list_item-title">
                                    <div class="reviews_site-list_item-title_initial">{{ review.initial }}</div>
                                    <div class="reviews_site-list_item-title_block">
                                        <h4 class="reviews_site-list_item-title_block-name">{{ review.name }}</h4>
                                        <ul class="reviews_site-list_item-title_block-grade">
                                            {% for grade in review.grades %}
                                                <li>
                                                    <svg class="icon-svg-star {{ grade }}"
                                                         xmlns="http://www.w3.org/2000/svg">
                                                        <use xlink:href="/sprite.svg#icon_star"></use>
                                                    </svg>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="reviews_site-list_item-title_date">
                                        {{ review.date }}
                                    </div>
                                </div>
                                <div class="reviews_site-list_item-text">{{ review.text }}</div>
                                <div class="reviews_site-list_item-images">
                                    {% for image in review.images %}
                                        <picture>
                                            <source srcset="{{ image.webp }}">
                                            <img class="catalog-inner_link-img"
                                                 src="{{ image.default }}" loading="lazy">
                                        </picture>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    {% endif %}

    {% if recently_viewed_products %}
        <section class="product-recentlyViewed sliderProductRecentlyViewed">
            <div class="container">
                <h2 class="section-title">Ранее вы смотрели</h2>
                <div class="swiper">
                    <ul class="product-recentlyViewed__list swiper-wrapper" data-lightbox-parent>
                        {% for recently_viewed_product in recently_viewed_products %}
                            <li class="product-recentlyViewed__item">
                                <div class="products_grid-thumb">
                                    <div class="products_grid-block">
                                        <picture>
                                            <source srcset="{{ recently_viewed_product.thumb.webp }}">
                                            <img class="catalog-inner_link-img" alt="{{ recently_viewed_product.name }}"
                                                 title="{{ recently_viewed_product.name }}"
                                                 src="{{ recently_viewed_product.thumb.default }}" loading="lazy">
                                        </picture>
                                        <p class="products_grid-price">
                                            {% if not recently_viewed_product.special %}
                                                <span
                                                        class="price-new">{{ recently_viewed_product.price }}</span>
                                            {% else %}
                                                <span
                                                        class="price-new">{{ recently_viewed_product.special }}</span>
                                                <span
                                                        class="price-old">{{ recently_viewed_product.price }}</span>
                                                <span class="price-percent">{{ recently_viewed_product.percent }}</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <h4 class="products_grid-title">{{ recently_viewed_product.name }}</h4>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>
    {% endif %}

    {% if may_be_interest_categories %}
        <section class="product-mayBeInterest">
            <div class="container">
                <h2 class="section-title">Может заинтересовать</h2>
                <ul class="product-mayBeInterest__list">
                    {% for interest_category in may_be_interest_categories %}
                        <li>
                            <a class="product-mayBeInterest__link" href="{{ interest_category.href }}">
                                <picture>
                                    <source srcset="{{ interest_category.image.webp }}">
                                    <img class="catalog-inner_link-img" alt="{{ interest_category.name }}"
                                         title="{{ interest_category.name }}"
                                         src="{{ interest_category.image.default }}" loading="lazy">
                                </picture>
                                <h4>{{ interest_category.name }}</h4>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    {% endif %}
    <div class="modal product-set-modal" data-modal-type="product-set" hidden>
        <div class="modal__content">
            <div class="modal__box model-popup">
                <button class="modal__close modal__close--fixed"></button>
                <div class="model-popup__content">

                </div>
            </div>
        </div>
    </div>
</div>
{{ footer }}
