{{ header }}
<div id="product-search">
    <div class="container">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li>
                    <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="container">
        <div id="content" class="search">
            <h1 class="page-title">{{ heading_title }}</h1>
            <div class="search-input">
                <input class="input-text search-input__input" type="text" name="search" data-search-page-input
                       value="{{ search }}"
                       placeholder="{{ text_keyword }}"
                       id="input-search" class="form-control"/>
                <svg class="search-input__svg" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="/sprite.svg#icon_search"></use>
                </svg>
                <button class="btn btn-primary search-input__btn" search-page-btn>Найти</button>
                <svg class="search-input__close pointer hover-svg-dark-fill" xmlns="http://www.w3.org/2000/svg"
                     data-search-page-input-reset>
                    <use xlink:href="/sprite.svg#icon_cross"></use>
                </svg>
                <p class="search-input__text">{{ total }} результат(ов) по запросу "{{ search }}"</p>
            </div>
            {% if product_cards %}
                <div class="search-block">
                    <div class="category_main-controls">
                        <div class="category_main-controls_sort">
                            <p>{{ text_sort }}</p>
                            <div id="sorts" class="select select-1 open">
                                <input type="hidden" name="select"
                                       value="https://motochek-shop.ru/aksessuary/?sort=p.sort_order&amp;order=ASC">
                                <div class="select__box-btn">
                                    <button class="select__button" type="button">
                                        По умолчанию
                                    </button>
                                    <svg xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="/sprite.svg#icon_arrow_right"></use>
                                    </svg>
                                </div>
                                <ul class="select__list">
                                    <li data-value="https://motochek-shop.ru/aksessuary/?sort=p.sort_order&amp;order=ASC"
                                        selected="selected">По умолчанию
                                    </li>
                                    <li data-value="https://motochek-shop.ru/aksessuary/?sort=p.price&amp;order=ASC">
                                        Сначала недорогие
                                    </li>
                                    <li data-value="https://motochek-shop.ru/aksessuary/?sort=p.price&amp;order=DESC">
                                        Сначала дорогие
                                    </li>
                                    <li data-value="https://motochek-shop.ru/aksessuary/?sort=p.viewed&amp;order=DESC">
                                        Популярные
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="category_main-controls_structure">
                            <a title="{{ button_grid }}">
                                <svg class="{% if not is_line %}active{% endif %}" data-category-view-choose="grid"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_square"></use>
                                </svg>
                            </a>
                            <a title="{{ button_list }}">
                                <svg class="{% if is_line %}active{% endif %}" data-category-view-choose="line"
                                     xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="/sprite.svg#icon_list"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="products_grid search-grid" data-items-identy data-category-view>
                        {{ product_cards }}
                        {#                        {% for product in products %} #}
                        {#                            <a class="products_grid-item zoom-trigger" href="{{ product.href }}"> #}
                        {#                                <div class="products_grid-thumb"> #}
                        {#                                    <div class="products_grid-block"> #}
                        {#                                        <div class="zoom-container"> #}
                        {#                                            <div class="zoom-image"> #}
                        {#                                                <picture> #}
                        {#                                                    <source srcset="{{ product.thumb.webp }}"> #}
                        {#                                                    <img class="catalog-inner_link-img" alt="{{ product.name }}" #}
                        {#                                                         title="{{ product.name }}" #}
                        {#                                                         src="{{ product.thumb.default }}" loading="lazy"> #}
                        {#                                                </picture> #}
                        {#                                            </div> #}
                        {#                                        </div> #}
                        {#                                        <p class="products_grid-price"> #}
                        {#                                            {% if not product.special %} #}
                        {#                                                <span #}
                        {#                                                        class="price-new">{{ product.price }}</span> #}
                        {#                                            {% else %} #}
                        {#                                                <span #}
                        {#                                                        class="price-new">{{ product.special }}</span> #}
                        {#                                                <span #}
                        {#                                                        class="price-old">{{ product.price }}</span> #}
                        {#                                                <span class="price-percent">{{ product.percent }}</span> #}
                        {#                                            {% endif %} #}
                        {#                                        </p> #}
                        {#                                    </div> #}
                        {#                                    <h4 class="products_grid-title">{{ product.name }}</h4> #}
                        {#                                    <button class="products_grid-wishlist {% if product.in_wishlist %}inWishlist{% endif %}" #}
                        {#                                            title="{{ button_wishlist }}" #}
                        {#                                            data-product-wishlist="{{ product.product_id }}"> #}
                        {#                                        <svg class="icon-svg-whishlist" xmlns="http://www.w3.org/2000/svg"> #}
                        {#                                            <use xlink:href="/sprite.svg#icon_heart"></use> #}
                        {#                                        </svg> #}
                        {#                                    </button> #}
                        {#                                </div> #}
                        {#                            </a> #}
                        {#                        {% endfor %} #}
                    </div>
                    {% if pagination %}
                        <div class="category_more category-page__more">
                            <button class="btn btn-second loadmore" data-loadmore
                                    data-items-identy-name="products_grid-item">
                                Показать ещё
                            </button>
                        </div>
                        <div class="category_pagination" data-pagination>
                            {{ pagination }}
                        </div>
                    {% endif %}
                </div>
            {% else %}
                <p>{{ text_empty }}</p>
            {% endif %}
        </div>
    </div>
    {#    {{ column_left }} #}
    {#    {{ column_right }} #}
    {#    {{ content_bottom }} #}
    {#    {{ content_top }} #}
</div>
{{ footer }}