<div class="search-modal">
    <div class="container">
        <div class="search-modal__inner">
            <div class="search-modal__input">
                <input class="input-text search-input__input" type="text" name="search" value="{{ search }}"
                       placeholder="{{ text_keyword }}"
                       id="input-search" class="form-control"/>
                <svg class="search-input__svg" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="/sprite.svg#icon_search"></use>
                </svg>
                <svg class="search-input__close" xmlns="http://www.w3.org/2000/svg">
                    <use xlink:href="/sprite.svg#icon_cross"></use>
                </svg>
                <p>результат(ов) по запросу {{ search }}</p>
            </div>
            {% if products_recomended %}
                <div class="search-modal__recomended">
                    <ul data-lightbox-parent>
                        {% for product in products_recomended %}
                            <li class="product-recentlyViewed__item">
                                <div class="products_grid-thumb">
                                    <div class="products_grid-block">
                                        <picture>
                                            <source srcset="{{ product.thumb.webp }}">
                                            <img class="catalog-inner_link-img" alt="{{ product.name }}"
                                                 title="{{ product.name }}"
                                                 src="{{ product.thumb.default }}" loading="lazy">
                                        </picture>
                                        <p class="products_grid-price">
                                            {% if not product.special %}
                                                <span
                                                        class="price-new">{{ product.price }}</span>
                                            {% else %}
                                                <span
                                                        class="price-new">{{ product.special }}</span>
                                                <span
                                                        class="price-old">{{ product.price }}</span>
                                                <span class="price-percent">{{ product.percent }}</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                    <h4 class="products_grid-title">{{ product.name }}</h4>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>