{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-boxberry" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-boxberry" class="form-horizontal">
          <div class="col-sm-2">
            <ul class="nav nav-pills nav-stacked">
              <li class="active">
                <a href="#tab-accesses" data-toggle="tab">{{ tab_accesses }}</a>
              </li>
              <li>
                <a href="#tab-weights-dimensions" data-toggle="tab">{{ tab_weights_dimensions }}</a>
              </li>
              <li>
                <a href="#tab-shipping-profiles" data-toggle="tab">{{ tab_shipping_profiles }}</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-10">
            <div class="tab-content">
              <div class="tab-pane active" id="tab-accesses">
                <div class="page-header">
                  <h2>{{ tab_accesses }}</h2>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="status">{{ text_status }}</label>
                  <div class="col-sm-2">
                    <select class="form-control" id="status" name="shipping_boxberry_status">
                      {% if shipping_boxberry_status %}
                        <option value="1" selected>{{ text_enabled }}</option>
                        <option value="0">{{ text_disabled }}</option>
                      {% else %}
                        <option value="1">{{ text_enabled }}</option>
                        <option value="0" selected>{{ text_disabled }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="api_token">
                    <span data-toggle="tooltip" title="{{ text_api_token_tooltip }}">{{ text_api_token }}</span>
                  </label>
                  <div class="col-sm-5">
                    <input type="text" id="api_token" name="shipping_boxberry_api_token" class="form-control" value="{{ shipping_boxberry_api_token }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="api_url">{{ text_api_url }}</label>
                  <div class="col-sm-5">
                    <input type="text" id="api_url" name="shipping_boxberry_api_url" class="form-control" value="{{ shipping_boxberry_api_url }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="widget_url">{{ text_widget_url }}</label>
                  <div class="col-sm-5">
                    <input type="text" id="widget_url" name="shipping_boxberry_widget_url" class="form-control" value="{{ shipping_boxberry_widget_url }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="order_status">{{ text_order_status }}</label>
                  <div class="col-sm-5">
                    <select class="form-control" id="order_status" name="shipping_boxberry_order_status">
                      {% for order_status in order_statuses %}
                        {% if order_status.order_status_id == shipping_boxberry_order_status %}
                          <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
                        {% else %}
                          <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="sort_order">{{ text_sort_order }}</label>
                  <div class="col-sm-1">
                    <input type="text" id="sort_order" name="shipping_boxberry_sort_order" class="form-control" value="{{ shipping_boxberry_sort_order }}"/>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-weights-dimensions">
                <div class="page-header">
                  <h2>{{ tab_weights_dimensions }}</h2>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="weight">{{ text_weight }}</label>
                  <div class="col-sm-2">
                    <input type="text" id="weight" name="shipping_boxberry_weight" class="form-control" value="{{ shipping_boxberry_weight }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="weight_min">{{ text_weight_min }}</label>
                  <div class="col-sm-2">
                    <input type="text" id="weight_min" name="shipping_boxberry_weight_min" class="form-control" value="{{ shipping_boxberry_weight_min }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="weight_max">{{ text_weight_max }}</label>
                  <div class="col-sm-2">
                    <input type="text" id="weight_max" name="shipping_boxberry_weight_max" class="form-control" value="{{ shipping_boxberry_weight_max }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="width">{{ text_width }}</label>
                  <div class="col-sm-2">
                    <input type="text" id="width" name="shipping_boxberry_width" class="form-control" value="{{ shipping_boxberry_width }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="height">{{ text_height }}</label>
                  <div class="col-sm-2">
                    <input type="text" id="height" name="shipping_boxberry_height" class="form-control" value="{{ shipping_boxberry_height }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="depth">{{ text_depth }}</label>
                  <div class="col-sm-2">
                    <input type="text" id="depth" name="shipping_boxberry_depth" class="form-control" value="{{ shipping_boxberry_depth }}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-3" for="package_size">{{ text_package_size }}</label>
                  <div class="col-sm-2">
                    <select class="form-control" id="package_size" name="shipping_boxberry_package_size">
                      {% if shipping_boxberry_package_size %}
                        <option value="1" selected>{{ text_apply_package_size_yes }}</option>
                        <option value="0">{{ text_apply_package_size_no }}</option>
                      {% else %}
                        <option value="1">{{ text_apply_package_size_yes }}</option>
                        <option value="0" selected>{{ text_apply_package_size_no }}</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
                <div class="form-group" style="display: none">
                  <label class="control-label col-sm-3" for="weight_class_id">{{ text_weight_id }}</label>
                  <div class="col-sm-2">
                    <select class="form-control" id="weight_class_id" name="shipping_boxberry_weight_class_id">
                      {% for weight_id in weight_ids %}
                        {% if weight_id.weight_class_id == shipping_boxberry_weight_class_id %}
                          <option value="{{ weight_id.weight_class_id }}" selected="selected">{{ weight_id.title }}</option>
                        {% else %}
                          <option value="{{ weight_id.weight_class_id }}">{{ weight_id.title }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="form-group" style="display: none">
                  <label class="control-label col-sm-3" for="length_class_id">{{ text_length_id }}</label>
                  <div class="col-sm-2">
                    <select class="form-control" id="length_class_id" name="shipping_boxberry_length_class_id">
                      {% for length_id in length_ids %}
                        {% if length_id.length_class_id == shipping_boxberry_length_class_id %}
                          <option value="{{ length_id.length_class_id }}" selected="selected">{{ length_id.title }}</option>
                        {% else %}
                          <option value="{{ length_id.length_class_id }}">{{ length_id.title }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-shipping-profiles">
                <div class="page-header">
                  <h2>{{ tab_shipping_profiles }}</h2>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{ text_pickup }}</h3>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="pickup_status">{{ text_status }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="pickup_status" name="shipping_boxberry_pickup_status">
                          {% if shipping_boxberry_pickup_status %}
                            <option value="1" selected="selected">{{ text_enabled }}</option>
                            <option value="0">{{ text_disabled }}</option>
                          {% else %}
                            <option value="1">{{ text_enabled }}</option>
                            <option value="0" selected="selected">{{ text_disabled }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="pickup_sucrh">{{ text_sucrh }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="pickup_sucrh" name="shipping_boxberry_pickup_sucrh">
                          {% if shipping_boxberry_pickup_sucrh %}
                            <option value="1" selected="selected">{{ text_sucrh_yes }}</option>
                            <option value="0">{{ text_sucrh_no }}</option>
                          {% else %}
                            <option value="1">{{ text_sucrh_yes }}</option>
                            <option value="0" selected="selected">{{ text_sucrh_no }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="pickup_parselcreate_auto">{{ text_parselcreate_auto }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="pickup_parselcreate_auto" name="shipping_boxberry_pickup_parselcreate_auto">
                          {% if shipping_boxberry_pickup_parselcreate_auto %}
                            <option value="1" selected="selected">{{ text_parselcreate_auto_yes }}</option>
                            <option value="0">{{ text_parselcreate_auto_no }}</option>
                          {% else %}
                            <option value="1">{{ text_parselcreate_auto_yes }}</option>
                            <option value="0" selected="selected">{{ text_parselcreate_auto_no }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="pickup_parselsend_auto">{{ text_parselsend_auto }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="pickup_parselsend_auto" name="shipping_boxberry_pickup_parselsend_auto">
                          {% if shipping_boxberry_pickup_parselsend_auto %}
                            <option value="1" selected="selected">{{ text_parselsend_auto_yes }}</option>
                            <option value="0">{{ text_parselsend_auto_no }}</option>
                          {% else %}
                            <option value="1">{{ text_parselsend_auto_yes }}</option>
                            <option value="0" selected="selected">{{ text_parselsend_auto_no }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="pickup_name">{{ text_name }}</label>
                      <div class="col-sm-7">
                        <input type="text" id="pickup_name" name="shipping_boxberry_pickup_name" class="form-control" value="{{ shipping_boxberry_pickup_name }}"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{ text_pickup_prepaid }}</h3>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="pickup_prepaid_status">{{ text_status }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="pickup_prepaid_status" name="shipping_boxberry_pickup_prepaid_status">
                          {% if shipping_boxberry_pickup_prepaid_status %}
                            <option value="1" selected="selected">{{ text_enabled }}</option>
                            <option value="0">{{ text_disabled }}</option>
                          {% else %}
                            <option value="1">{{ text_enabled }}</option>
                            <option value="0" selected="selected">{{ text_disabled }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="pickup_prepaid_sucrh">{{ text_sucrh }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="pickup_prepaid_sucrh" name="shipping_boxberry_pickup_prepaid_sucrh">
                          {% if shipping_boxberry_pickup_prepaid_sucrh %}
                            <option value="1" selected="selected">{{ text_sucrh_yes }}</option>
                            <option value="0">{{ text_sucrh_no }}</option>
                          {% else %}
                            <option value="1">{{ text_sucrh_yes }}</option>
                            <option value="0" selected="selected">{{ text_sucrh_no }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="pickup_prepaid_parselcreate_auto">{{ text_parselcreate_auto }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="pickup_prepaid_parselcreate_auto" name="shipping_boxberry_pickup_prepaid_parselcreate_auto">
                          {% if shipping_boxberry_pickup_prepaid_parselcreate_auto %}
                            <option value="1" selected="selected">{{ text_parselcreate_auto_yes }}</option>
                            <option value="0">{{ text_parselcreate_auto_no }}</option>
                          {% else %}
                            <option value="1">{{ text_parselcreate_auto_yes }}</option>
                            <option value="0" selected="selected">{{ text_parselcreate_auto_no }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="pickup_prepaid_parselsend_auto">{{ text_parselsend_auto }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="pickup_prepaid_parselsend_auto" name="shipping_boxberry_pickup_prepaid_parselsend_auto">
                          {% if shipping_boxberry_pickup_prepaid_parselsend_auto %}
                            <option value="1" selected="selected">{{ text_parselsend_auto_yes }}</option>
                            <option value="0">{{ text_parselsend_auto_no }}</option>
                          {% else %}
                            <option value="1">{{ text_parselsend_auto_yes }}</option>
                            <option value="0" selected="selected">{{ text_parselsend_auto_no }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="pickup_prepaid_name">{{ text_name }}</label>
                      <div class="col-sm-7">
                        <input type="text" id="pickup_prepaid_name" name="shipping_boxberry_pickup_prepaid_name" class="form-control" value="{{ shipping_boxberry_pickup_prepaid_name }}"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{ text_courier_delivery }}</h3>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="courier_delivery_status">{{ text_status }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="courier_delivery_status" name="shipping_boxberry_courier_delivery_status">
                          {% if shipping_boxberry_courier_delivery_status %}
                            <option value="1" selected="selected">{{ text_enabled }}</option>
                            <option value="0">{{ text_disabled }}</option>
                          {% else %}
                            <option value="1">{{ text_enabled }}</option>
                            <option value="0" selected="selected">{{ text_disabled }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="courier_delivery_sucrh">{{ text_sucrh }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="courier_delivery_sucrh" name="shipping_boxberry_courier_delivery_sucrh">
                          {% if shipping_boxberry_courier_delivery_sucrh %}
                            <option value="1" selected="selected">{{ text_sucrh_yes }}</option>
                            <option value="0">{{ text_sucrh_no }}</option>
                          {% else %}
                            <option value="1">{{ text_sucrh_yes }}</option>
                            <option value="0" selected="selected">{{ text_sucrh_no }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="courier_delivery_parselcreate_auto">{{ text_parselcreate_auto }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="courier_delivery_parselcreate_auto" name="shipping_boxberry_courier_delivery_parselcreate_auto">
                          {% if shipping_boxberry_courier_delivery_parselcreate_auto %}
                            <option value="1" selected="selected">{{ text_parselcreate_auto_yes }}</option>
                            <option value="0">{{ text_parselcreate_auto_no }}</option>
                          {% else %}
                            <option value="1">{{ text_parselcreate_auto_yes }}</option>
                            <option value="0" selected="selected">{{ text_parselcreate_auto_no }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="courier_delivery_parselsend_auto">{{ text_parselsend_auto }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="courier_delivery_parselsend_auto" name="shipping_boxberry_courier_delivery_parselsend_auto">
                          {% if shipping_boxberry_courier_delivery_parselsend_auto %}
                            <option value="1" selected="selected">{{ text_parselsend_auto_yes }}</option>
                            <option value="0">{{ text_parselsend_auto_no }}</option>
                          {% else %}
                            <option value="1">{{ text_parselsend_auto_yes }}</option>
                            <option value="0" selected="selected">{{ text_parselsend_auto_no }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="courier_delivery_name">{{ text_name }}</label>
                      <div class="col-sm-7">
                        <input type="text" id="courier_delivery_name" name="shipping_boxberry_courier_delivery_name" class="form-control" value="{{ shipping_boxberry_courier_delivery_name }}"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{ text_courier_delivery_prepaid }}</h3>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="courier_delivery_prepaid_status">{{ text_status }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="courier_delivery_prepaid_status" name="shipping_boxberry_courier_delivery_prepaid_status">
                          {% if shipping_boxberry_courier_delivery_prepaid_status %}
                            <option value="1" selected="selected">{{ text_enabled }}</option>
                            <option value="0">{{ text_disabled }}</option>
                          {% else %}
                            <option value="1">{{ text_enabled }}</option>
                            <option value="0" selected="selected">{{ text_disabled }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="courier_delivery_prepaid_sucrh">{{ text_sucrh }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="courier_delivery_prepaid_sucrh" name="shipping_boxberry_courier_delivery_prepaid_sucrh">
                          {% if shipping_boxberry_courier_delivery_prepaid_sucrh %}
                            <option value="1" selected="selected">{{ text_sucrh_yes }}</option>
                            <option value="0">{{ text_sucrh_no }}</option>
                          {% else %}
                            <option value="1">{{ text_sucrh_yes }}</option>
                            <option value="0" selected="selected">{{ text_sucrh_no }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="courier_delivery_prepaid_parselcreate_auto">{{ text_parselcreate_auto }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="courier_delivery_prepaid_parselcreate_auto" name="shipping_boxberry_courier_delivery_prepaid_parselcreate_auto">
                          {% if shipping_boxberry_courier_delivery_prepaid_parselcreate_auto %}
                            <option value="1" selected="selected">{{ text_parselcreate_auto_yes }}</option>
                            <option value="0">{{ text_parselcreate_auto_no }}</option>
                          {% else %}
                            <option value="1">{{ text_parselcreate_auto_yes }}</option>
                            <option value="0" selected="selected">{{ text_parselcreate_auto_no }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="courier_delivery_prepaid_parselsend_auto">{{ text_parselsend_auto }}</label>
                      <div class="col-sm-2">
                        <select class="form-control" id="courier_delivery_prepaid_parselsend_auto" name="shipping_boxberry_courier_delivery_prepaid_parselsend_auto">
                          {% if shipping_boxberry_courier_delivery_prepaid_parselsend_auto %}
                            <option value="1" selected="selected">{{ text_parselsend_auto_yes }}</option>
                            <option value="0">{{ text_parselsend_auto_no }}</option>
                          {% else %}
                            <option value="1">{{ text_parselsend_auto_yes }}</option>
                            <option value="0" selected="selected">{{ text_parselsend_auto_no }}</option>
                          {% endif %}
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-3" for="courier_delivery_prepaid_name">{{ text_name }}</label>
                      <div class="col-sm-7">
                        <input type="text" id="courier_delivery_prepaid_name" name="shipping_boxberry_courier_delivery_prepaid_name" class="form-control" value="{{ shipping_boxberry_courier_delivery_prepaid_name }}"/>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}