{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <a href="{{ add }}" data-toggle="tooltip" title="{{ button_add }}" class="btn btn-primary"><i
                            class="fa fa-plus"></i></a>
                <button type="button" form="form-blog" formaction="{{ delete }}" data-toggle="tooltip"
                        title="{{ button_delete }}" class="btn btn-danger"
                        onclick="confirm('{{ text_confirm }}') ? $('#form-blog').submit() : false;"><i
                            class="fa fa-trash-o"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible">
                <i class="fa fa-exclamation-circle"></i>
                {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="row">
            <div id="filter" class="col-sm-12">
                <div class="panel panel-default panel-filter">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-filter"></i> {{ text_filter }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="filter-title">{{ entry_title }}</label>
                                    <input type="text" name="filter_title" value="{{ filter_title }}"
                                           placeholder="{{ entry_title }}" id="filter-title" class="form-control"/>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="filter-status">{{ entry_status }}</label>
                                    <select name="filter_status" id="filter-status" class="form-control">
                                        <option value=""></option>
                                        {% if filter_status == '1' %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                        {% endif %}
                                        {% if filter_status == '0' %}
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="0">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label class="control-label" for="filter-category">{{ entry_category }}</label>
                                    <input type="text" name="filter_category" value="{{ filter_category }}"
                                           placeholder="{{ entry_category }}" id="filter-category"
                                           class="form-control"/>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                                <div class="form-group">
                                    <label class="control-label hidden-xs">&nbsp;</label>
                                    <div class="button text-right">
                                        <a href="index.php?route=catalog/blog&user_token={{ user_token }}"
                                           class="btn btn-default"><i class="fa fa-times"></i> {{ button_clear }}</a>
                                        <button type="button" id="button-filter" class="btn btn-primary"><i
                                                    class="fa fa-filter"></i> {{ button_filter }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list"></i> {{ text_list }}</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6 text-left">{{ pagination }}</div>
                            <div class="col-sm-6 text-right">{{ results }}</div>
                        </div>
                        <form action="{{ delete }}" method="post" enctype="multipart/form-data" id="form-blog">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <td style="width: 1px;" class="text-center">
                                            <input type="checkbox"
                                                   onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/>
                                        </td>
                                        <td class="text-left">
                                            {% if sort == 'title' %}
                                                <a href="{{ sort_title }}"
                                                   class="{{ order|lower }}">{{ column_title }}</a>
                                            {% else %}
                                                <a href="{{ sort_title }}">{{ column_title }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="text-left">
                                            {% if sort == 'theme' %}
                                                <a href="{{ sort_theme }}"
                                                   class="{{ order|lower }}">{{ column_theme }}</a>
                                            {% else %}
                                                <a href="{{ sort_theme }}">{{ column_theme }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="text-left">
                                            {% if sort == 'blog_category_id' %}
                                                <a href="{{ sort_category }}"
                                                   class="{{ order|lower }}">{{ column_category }}</a>
                                            {% else %}
                                                <a href="{{ sort_category }}">{{ column_category }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="text-left">
                                            {% if sort == 'status' %}
                                                <a href="{{ sort_status }}"
                                                   class="{{ order|lower }}">{{ column_status }}</a>
                                            {% else %}
                                                <a href="{{ sort_status }}">{{ column_status }}</a>
                                            {% endif %}
                                        </td>
                                        <td class="text-right">{{ column_action }}</td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% if blogs %}
                                        {% for blog in blogs %}
                                            <tr>
                                                <td class="text-center">
                                                    {% if blog.blog_id in selected %}
                                                        <input type="checkbox" name="selected[]"
                                                               value="{{ blog.blog_id }}" checked="checked"/>
                                                    {% else %}
                                                        <input type="checkbox" name="selected[]"
                                                               value="{{ blog.blog_id }}"/>
                                                    {% endif %}
                                                </td>
                                                <td class="text-left">{{ blog.title }}</td>
                                                <td class="text-left">{{ blog.theme }}</td>
                                                <td class="text-left">{{ blog.category.name }}</td>
                                                <td class="text-left">{{ blog.status }}</td>
                                                <td class="text-right">
                                                    <a href="{{ blog.edit }}" data-toggle="tooltip"
                                                       title="{{ button_edit }}" class="btn btn-primary"><i
                                                                class="fa fa-pencil"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td class="text-center" colspan="10">{{ text_no_results }}</td>
                                        </tr>
                                    {% endif %}
                                    </tbody>

                                </table>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-6 text-left">{{ pagination }}</div>
                            <div class="col-sm-6 text-right">{{ results }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('#button-filter').on('click', function () {
            let url = '';
            $('#filter input[type="text"][name^="filter"], #filter input[type="hidden"][name^="filter"], select[name^="filter"]').each(function () {
                if ($(this).val() !== '') {
                    url += '&' + $(this).attr('name') + '=' + encodeURIComponent($(this).val());
                }
            });
            location = 'index.php?route=catalog/blog&user_token={{ user_token }}' + url;
        });
    </script>
    <script>

        $('input[name=\'filter_title\']').autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/blog/autocomplete&user_token={{ user_token }}&filter_title=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        response($.map(json, function (item) {
                            return {
                                label: item['title'],
                                value: item['blog_id']
                            }
                        }));
                    }
                });
            },
            'select': function (item) {
                $('input[name=\'filter_title\']').val(item['label']);
            }
        });

        $('#filter-category').autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/blog/autocompleteCategory&user_token={{ user_token }}&filter_category=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        response($.map(json, function (item) {
                            return {
                                label: item['name'],
                                value: item['blog_category_id']
                            }
                        }));
                    }
                });
            },
            'select': function (item) {
                $('input[name=\'filter_category\']').val(item['label']);
            }
        });
    </script>
</div>
{{ footer }} 