{{ header }}
<div id="information-information">
    <div class="container">
        <ul class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="content">
        <div class="container"><h1 class="page-title">{{ heading_title }}</h1></div>
        <section class="about_company">
            <div class="container">
                <div class="about_company-inner">
                    <div class="about_company-inner_block">
                        <h3 class="about_company-inner_block-title">О компании</h3>
                        <p class="about_company-inner_block-text">Dreams Store — это интернет-магазин постельного белья,
                            который поможет вам создать уютную атмосферу для комфортного сна и отдыха. Наша компания уже
                            более трёх лет радует своих клиентов постельным бельем из экологических натуральных
                            материалов. </p>
                        <p class="about_company-inner_block-text">Заказывая в Dreams Store, вы получите недорогое
                            качественное постельное белье. Оно долго прослужит вам, сохраняя свой первоначальный внешний
                            вид.</p>
                        <p class="about_company-inner_block-text">Многочисленное количество отзывов покупателей помогает
                            нам двигаться дальше и становиться лучше. Мы не просто предлагаем качественный и красивый
                            домашний текстиль, но и хотим быть уверены, что вы получаете высокий уровень сервиса,
                            наслаждаетесь каждой мелочью и всегда делитесь мнением, которое мы слышим и ценим.</p>
                    </div>
                    <div class="about_company-inner_images">
                        <div class="about_company-inner_images-one">
                            <img src="/catalog/view/theme/dreamsstore/resources/dev/assets/images/aboutcompany/aboutcompany_4.webp">
                        </div>
                        <div class="about_company-inner_images-two">
                            <img src="/catalog/view/theme/dreamsstore/resources/dev/assets/images/aboutcompany/aboutcompany_3.webp">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="advatagesToBuy">
            <div class="container">
                <div class="advatagesToBuy_inner">
                    <h2 class="section-title">Преимущества покупки постельного белья
                        в Dreams Store:</h2>
                    <div class="advatagesToBuy_inner-grid">
                        <div class="advatagesToBuy_inner-item">
                            <img class="advatagesToBuy_inner-item_img"
                                 src="/catalog/view/theme/dreamsstore/resources/dev/assets/images/advantages/advantages-3.webp">
                            <h3 class="advatagesToBuy_inner-item_title">Широкий выбор</h3>
                            <p class="advatagesToBuy_inner-item_text">Большое разнообразие необычных принтов и расцветок
                                постельного белья. Приятное сочетание оттенков украсит вашу спальню, создавая
                                неповторимую атмосферу уюта.</p>
                        </div>
                        <div class="advatagesToBuy_inner-item">
                            <img class="advatagesToBuy_inner-item_img"
                                 src="/catalog/view/theme/dreamsstore/resources/dev/assets/images/advantages/advantages-2.webp">
                            <h3 class="advatagesToBuy_inner-item_title">Индивидуальный размер</h3>
                            <p class="advatagesToBuy_inner-item_text">Основную часть представленных комплектов
                                постельного белья возможно изготовить по индивидуальным параметрам, мы также можем
                                сделать натяжную простыню для вашего матраса. Выберите в каталоге любую понравившуюся
                                модель, укажите в комментариях к заказу необходимые параметры и мы специально для вас
                                сошьем ее по вашим предпочтениям.</p>
                        </div>
                        <div class="advatagesToBuy_inner-item">
                            <img class="advatagesToBuy_inner-item_img"
                                 src="/catalog/view/theme/dreamsstore/resources/dev/assets/images/advantages/advantages-1.webp">
                            <h3 class="advatagesToBuy_inner-item_title">Только лучшие ткани</h3>
                            <ul class="advatagesToBuy_inner-item_list">
                                <li>Египетский и королевский хлопок — ткань имеет
                                    благородный блеск и шелковистость.
                                </li>
                                <li>
                                    Тенсель — Это экологически чистый продукт, не вызывает аллергии и раздражения.
                                    Обладает
                                    всеми полезными свойствами хлопка. А также обладает антибактериальным эффектом,
                                    подавляет развитие бактерий и пылевых клещей.
                                </li>
                            </ul>
                        </div>
                        <div class="advatagesToBuy_inner-item">
                            <img class="advatagesToBuy_inner-item_img"
                                 src="/catalog/view/theme/dreamsstore/resources/dev/assets/images/advantages/advantages-5.webp">
                            <h3 class="advatagesToBuy_inner-item_title">Разумные цены за хорошее качество</h3>
                            <p class="advatagesToBuy_inner-item_text">Выгодная стоимость белья по привлекательной цене
                                обусловлена тем, что после изготовления наши комплекты отправляются к вам, минуя
                                привычные для других производителей этапы, которые увеличивают стоимость постельного
                                белья в несколько раз.</p>
                        </div>
                        <div class="advatagesToBuy_inner-item">
                            <img class="advatagesToBuy_inner-item_img"
                                 src="/catalog/view/theme/dreamsstore/resources/dev/assets/images/advantages/advantages-6.webp">
                            <h3 class="advatagesToBuy_inner-item_title">Мягкость и комфорт для кожи</h3>
                            <p class="advatagesToBuy_inner-item_text">Постельное белье, представленное в магазине Dreams
                                Store — мягкое, приятное и комфортное к телу, эффектно выглядит. Натуральный состав
                                белья хорошо пропускает воздух, проводит тепло, не электризуется. Не линяет, не
                                выцветает при стирке и не покрывается катышками.</p>
                        </div>
                        <div class="advatagesToBuy_inner-item">
                            <img class="advatagesToBuy_inner-item_img"
                                 src="/catalog/view/theme/dreamsstore/resources/dev/assets/images/advantages/advantages-7.webp">
                            <h3 class="advatagesToBuy_inner-item_title">Упаковка</h3>
                            <p class="advatagesToBuy_inner-item_text">Мы заранее позаботились о том, чтобы вы могли
                                порадовать красивым и качественным бельем не только себя, но и своих родных и близких.
                                Комплект белья будет упакован в фирменную подарочную коробку.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% if categories %}
            <section class="catalog">
                <div class="container">
                    <div class="catalog-inner">
                        <h2 class="section-title">Наш ассортимент</h2>
                        <nav>
                            <ul class="catalog-inner_grid">
                                {% for category in categories %}
                                    <li class="catalog-inner_item">
                                        <a class="catalog-inner_link zoom-trigger" href="{{ category.href }}">
                                            <div class="zoom-container">
                                                <div class="zoom-image">
                                                    <picture>
                                                        <source srcset="{{ category.image.webp }}">
                                                        <img class="catalog-inner_link-img"
                                                             src="{{ category.image.default }}"
                                                             loading="lazy">
                                                    </picture>
                                                </div>
                                            </div>
                                            <h4 class="catalog-inner_link-title">{{ category.name }}</h4>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </section>
        {% endif %}
        <section class="fabric-samples">
            <div class="container">
                <div class="fabric-samples-inner">
                    <div class="fabric-samples-inner_block">
                        <h2 class="fabric-samples-inner_block-title">Образцы ткани бесплатно</h2>
                        <p class="fabric-samples-inner_block-text">Чтобы быть уверенным в том, что цветовая гамма
                            постельного белья будет идеально подходить под ваш интерьер, мы рады предложить вам оформить
                            заказ на образцы используемых тканей со всей выборкой расцветок бесплатно в любую точку
                            России</p>
                    </div>
                    <div class="fabric-samples-inner_btn">
                        <a class="btn btn-primary" data-forms="freefabric">Оставить заявку</a>
                    </div>
                </div>
            </div>
        </section>

        {#            {{ column_right }} #}
        {#            {{ column_left }} #}
        {#            {{ content_bottom }} #}
        {#            {{ content_top }} #}
    </div>
</div>
{{ footer }}